<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuestionAnswer</title>
    <script src="~/dest/js/layout.bundle.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <div v-cloak id="app">
        <main-header></main-header>

        <div class="container qa-layout-content">
            <main role="main" class="pb-3">
                <div class="row">
                    <!-- Content Column -->
                    <div class="col-lg-8">
                        @RenderBody()
                    </div>

                    <!-- Sidebar Widgets Column -->
                    <div class="col-md-4">
                        <main-sidebar-right></main-sidebar-right>
                    </div>
                </div>
            </main>
        </div>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Question Answer</p>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
