@{
    ViewData["Title"] = "Home";
}

<div v-cloak class="container-fluid">
    <home></home>
</div>

<!-- Javascript -->
@section Scripts {
    <script src="~/dest/js/index.bundle.js" asp-append-version="true" type="text/javascript"></script>
}